<!DOCTYPE html>
<html lang="en-us">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Aroma</title>
    <meta name="description" content="About Aroma">
  </head>
       <!-- The page content goes here -->
       <header>
         <nav>
            <ul>
              <li>Home</li>
              <li>About</li>
              <li>Menu</li>
              <li>Contact</li>
            </ul>
         </nav>
         <div class= "intro-text">
         <img src= "../images/the-art-of-coffee.svg" alt="The Art of Coffee" style=width:300px>
       </div>
       </header>
<main>

       <body>


       <h2>Smaller is Better</h2>
    <section class="first-row">
      <div class= "box">
       <p>Many of our specialty beans come from a single farm or even from a specific area on the farm, so they are limited in quantity and superior in quality.
       </p>
      </div>
      <div class= "box">
         <p>We buy directly from the farmers and have established strong, long-term relationships, based on good coffee and fair prices.</p>
       </div>
    </section>

         <h2>Our Process</h2>


         <h3>Roasting coffee to perfection is exacting, but not mysterious. Here’s how we do it:</h3>

    <section class="second-row">
             <div class="list-1">
             <p>Travel the globe to find the best coffee beans.</p>
           </div>
           <div class="list-2">
             <p>Buy entire micro-lots of great beans at a fair price.</p>
           </div>
           <div class="list-3">
             <p>Roast with artistry and advanced technology.</p>
           </div>
           <div class="list-4">
             <p>Control quality from grower to roaster to barista to consumer.</p>
           </div>
    </section>


      <link href="style02.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->
  </body>
</main>
</html>
