<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page Title Goes Here</title>
    <meta name="Aroma Home" content="Aroma Homepage">
  </head>
  <body>
       <!-- The page content goes here -->
       <h1>Home</h1>

       <h2>Monthly Special:</h2>
       <h3>Pumpkin Spice Latte & Almond Biscotti</h3>
       <p>Warm up those chilled bones this Winter with our fresh and flavorful combo<br>
       <div= "links"> See Full Menu <link href=#> </div></p>

       <h2>Hours</h2>
       <ul>
         <li><h3>Monday-Friday:</h3> 6:00AM - 10:30PM</li>
         <li><h3>Saturday:</h3> 7:00AM - 3:00PM</li>
         <li><h3>Sunday:</h3> 7:30AM - 3:00PM</li>
       </ul>

       <h2>Locations</h2>
       <ul>
         <li>Kent<br>
           6110 Horning Rd., Kent, OH 44240<br>
           Phone:  (330) 672-3031</li>
         <li>Columbus<br>
            5883 High St., Columbus, OH 43085<br>
            Phone: (330) 854-8583</li>
       </ul>

       <h2>Upcoming Event</h2>
         <p>1/31: African Coffees Tasting</p>

      <link href="style02.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->
  </body>
</html>
