<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aroma</title>
    <meta name="description" content="Aroma Homepage">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Neuton:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet">
  </head>
  <body>
    <nav class="dropdown">
      <span class="hamburger"><img src="images/ham.svg"></span>
      <div class="dropdown-content">
        <a href="index.html"><h1>Home</h1></a>
        <a href="index.html"><h1>Menu</h1></a>
        <a href="index.html"><h1>About</h1></a>
    </div>
    <div class="logo">
    <img src="images/aromalogocolor.svg">
    </div>
    <div class="menu-text">
      <a href="index.html"><h1>Home</h1></a>
      <a href="index.html"><h1>Menu</h1></a>
      <a href="index.html"><h1>About</h1></a>
    </div>
  </nav>
  
     <main>
    <div class="splash-img">
      <div class="spanred">
       <h2>Monthly Special:</h2>
       <h1>Pumpkin Spice Latte &amp; Almond Biscotti</h1>
       <p>Warm up those chilled bones this Winter with our fresh and flavorful
         combo.
       </p>
       <h2><a href="menu.html">See Full Menu</a></h2>
     </div>
    </div>
  <div class="home-content">
    <div class="two-column">
    </div>
    <div class="menu-box">
    <div class="menu-content">
      <h1>Hours &amp; Location</h1>
    <div class="two-column">
      <div>
       <h3>Mon-Fri</h3>
       <h4>6:00am-10:30pm</h4>
       <h3>Saturday</h3>
       <h4>7:00am-3:00pm</h4>
       <h3>Sunday</h3>
       <h4>7:30am-3:00pm</h4>
     </div>
     <div>
       <h3>Kent</h3><h4>6110 Horning Rd., <br> Kent, OH 44240<br>Phone: <a>(330)
      672-3031</a></h4>
      <br><br><h3>Columbus</h3><h4>5883 High St.,<br>Columbus, OH 43085<br>
        <a>Phone: (330) 854-8583</a></h4>
     </div>
   </div>
 </div>
  <div class="menu-content">
    <h1>Upcoming Events</h1>
   <h2>1/31: African Coffees Tasting </h2>
   <h2>2/7: AROMA Signature Tea Blends</h2>
   <h2>2/14: Valentine’s Day Coffee &amp; Chocolate Pairing</h2>
   <h2>2/21 AROMA Signature Tea Blends</h2>
    <h2>2/28: AROMA Classic Coffee Blends</h2>
    <h2>3/7: Green Teas</h2>
 </div>
</div>
 </div>
  </main>
  <link href="style2.css" rel="stylesheet" type="text/css" media="screen" />
  </body>
</html>
