<!DOCTYPE html>
<html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AROMA Menu</title>
  <meta name="description" content="Page Description Goes Here">
</head>
  <body>
    <h2>We proudly serve the rarest coffee &amp; espresso beans, single in origin
      &amp; roasted right here in Kent</h2>
    <h1>Drinks</h1>
      <h2>Brewed</h2>
      <table>
        <tr>
          <td>Hot Coffee</td>
          <td>2.00 2.15 2.25</td>
        </tr>
        <tr>
          <td>Pour Over</td>
          <td>2.50 3.00 3.25</td>
        </tr>
        <tr>
          <td>Iced Coffee</td>
          <td>2.25 2.50 2.85</td>
        </tr>
        <tr>
          <td>By The Bean</td>
          <td>10.25 half bag | 17.95 full bag</td>
        </tr>
      </table>
      <h2>Espresso And More</h2>
      <table>
        <tr>
          <td>Espresso</td>
          <td> 2.25 2.50 2.85</td>
        </tr>
        <tr>
          <td>Cafe Americano</td>
          <td>2.50 2.75 3.25</td>
        </tr>
        <tr>
          <td>Cuppuccino</td>
          <td>3.15 3.55 4.15</td>
        </tr>
        <tr>
          <td>Classic Latte</td>
          <td>3.25 3.65 4.25</td>
        </tr>
        <tr>
          <td>Flavored Latte</td>
          <td>3.95 4.25 4.75</td>
        </tr>
        <tr>
          <td>Mocha</td>
          <td>4.50 4.80 5.30</td>
        </tr>
      </table>
      <h3>Flavors</h3>
      <p>Vanilla**, Honey-vanilla, Hazelnut**, Caramel**, Almond**, Coconut**,
        Peppermint, Chocolate, White Chocolate, Cinnamon, Pumpkin Spice,
        Raspberry**, Butterscotch, Peanut butter, Blackberry, Irish Crème,
        English Toffee, Apple,*available in sugar free</p>
      <h2>Teas</h2>
      <table>
        <tr>
          <td>Hot Tea</td>
          <td>2.50</td>
          <td>|English Breakfast, Moto Chai, Moroccan Mint Green Tea,
            Decaf Ginger Tumeric, Gunpowder Green tea, Earl Grey</td>
        </tr>
        <tr>
          <td>Iced Tea</td>
          <td>2.50</td>
        </tr>
      </table>
      <h2>Coffee Smoothies</h2>
      <table>
        <tr>
          <td>Turn your favorite latte or mocha into a blended treat! Can be
            made decaf &amp; with any kind of milk.</td>
        </tr>
        <tr>
          <td>4.50 4.80 5.30</td>
        </tr>
      </table>
      <h1>Pastries</h1>
      <table>
        <tr>
          <td>Muffin</td>
          <td>2.95</td>
        </tr>
        <tr>
          <td>Belgium Style Waffle</td>
          <td>3.95</td>
        </tr>
        <tr>
          <td>Cinnamon Scone</td>
          <td>2.95</td>
        </tr>
        <tr>
          <td>Almond Biscotti</td>
          <td>2.95</td>
        </tr>
        <tr>
          <td>Choc chip banana bread</td>
          <td>4.25</td>
        </tr>
        <tr>
          <td>Zingerman’s Coffee cake</td>
          <td>4.25</td>
        </tr>
        <tr>
          <td>Gourmet Cookie</td>
          <td>2.45</td>
        </tr>
      </table>
  </body>
  <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->
</html>
