body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  margin: 0;}

  @media screen and (min-width: 400px){
	nav ul{
		display: flex;
		justify-content: space-around;}

nav ul{list-style-type: none;
	margin: 0 auto;
  background-color:white;
	color: rgb(142,120,97);
  padding: .75em;
  font-size: 80%}

header{
background-image: url("../images/coffee-beans-with-spoon_gradient.jpg");
background-size: cover;
height: 80vh;
padding: 0em;}

ul{list-style-type: none;}

div.intro-text{
 padding: 3em;
 background-image: url("../images/aroma-linear element.svg");
 background-size: cover;
 height: 80vh;}

h1{font-family: 'Raleway', sans-serif;
font-size: 180%;
color: rgb(88,0,13);
text-align: center;
text-transform: uppercase;
margin: .7em;}

h2{font-family: 'Raleway', sans-serif;
text-transform: uppercase;
font-weight: regular;
font-size: 120%;
color: white;
background-color: rgba(88,0,13,.75);
padding: .7em;
margin: 0;
letter-spacing: 3px;
text-align: left;}

h3{font-family: 'Open Sans', sans-serif;
  padding: 1em;
  font-size: 110%;
  font-weight: bold;
  line-height:160%;
  color: rgb(142,120,97);}

  h4{font-family: 'Open Sans', sans-serif;
    padding-left: 1em;
    font-size: 110%;
    font-weight: bold;
    line-height:160%;
    color: rgb(142,120,97);}

p{font-family: 'Open Sans', sans-serif;
  padding: 3em;
  font-size: 90%;
  line-height:160%;
  color: rgb(142,120,97);
  max-width: 400px;}

a{font-family: 'Raleway', sans-serif;
  color: rgb(142,120,97);
  background-color: rgba(211,209,193,.5);
  padding: .8em;
  margin-left: 1em;
  text-decoration: none;}

a:hover{background-color: rgba(211,209,193,.8);}

.logo{margin: .7em;
text-align:center;}

  /* First Row */
.first-row{max-width: 800px;}

  .first-row .box{background-color: white;}

  @media screen and (min-width: 500px)
  {
  	.first-row{display:flex}
  }

  /* Second Row */
  .second-row {
    background-color: white;
     color: rgb(142,120,97);
    padding-top: -1em;
    max-width: 800px}

  @media screen and (min-width: 500px)
  {
  	.second-row{
      display:flex;
      flex-wrap: wrap;}

    .second-row .list-1{
      width: 50%;
      flex-grow: 1;
      background-image: url("../images/list-1.svg");
      background-size: auto;
      background-position: center;
      background-repeat: no-repeat;
      margin-bottom: .5em;}

      .second-row .list-2{
        width: 50%;
        flex-grow: 1;
        background-image: url("../images/list-2.svg");
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;}

        .second-row .list-3{
          width: 50%;
          flex-grow: 1;
          background-image: url("../images/list-3.svg");
          background-size: auto;
          background-position: center;
          background-repeat: no-repeat;}

          .second-row .list-4{
            width: 50%;
            flex-grow: 1;
            background-image: url("../images/list-4.svg");
            background-size: auto;
            background-position: center;
            background-repeat: no-repeat;}
  }

  @media screen and (max-width: 499px)
  {

    .second-row .list-1{
      width: 80%;
      flex-grow: 1;
      background-image: url("../images/list-1.svg");
      background-size: auto;
      background-position: center;
      background-repeat: no-repeat;
      margin-bottom: .5em;}

      .second-row .list-2{
        width: 80%;
        flex-grow: 1;
        background-image: url("../images/list-2.svg");
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;}

        .second-row .list-3{
          width: 80%;
          flex-grow: 1;
          background-image: url("../images/list-3.svg");
          background-size: auto;
          background-position: center;
          background-repeat: no-repeat;}

          .second-row .list-4{
            width: 80%;
            flex-grow: 1;
            background-image: url("../images/list-4.svg");
            background-size: auto;
            background-position: center;
            background-repeat: no-repeat;}
        }
