body {
  padding: 0em;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

header{
background-image: url("../images/coffee-beans-with-spoon.jpg");
background-size: cover;
height: 100vh;}

div.intro-text{font-family: 'Neuton',serif;
  color: white;
  font-size: 500%;
  padding: 1em}

h1{font-family: 'Open Sans', sans-serif;
font-size: 180%;
color: rgb(142,120,97)}

h2{font-family: 'Neuton', serif;
font-weight: lighter;
font-size: 120%;
font-tracking:110%;
color: rgb(132,195,132)}

p{font-family: 'Neuton', serif;}
