body {
  max-width: 1000px;
  padding: 1em;
  font-family: Helvetica, Arial, sans-serif;
}

h1{font-family: 'Open Sans', sans-serif;
font-size: 160%;
color: rgb(142,120,97)}

h2{font-family: 'Open Sans', sans-serif;
font-size: 80%;
text-transform: uppercase;
color: rgb(132,195,132)}

p{font-family: 'Georgia', serif}

div, section, main, aside, header, footer {
  border: 1px solid lightgray;
  padding: .5em;
  margin-bottom: 1em;
}
